---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to CroCoder">
	<main>
		<h1>Welcome to CroCoder</h1>
    <div style="height:1500px;width:200px"></div>
	</main>
</Layout>
